body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 2rem;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.table-hover tbody tr:hover {
    background-color: #e9ecef;
}

/* Tablo içindeki butonlar için */
.btn-sm {
    margin-right: 5px;
}